<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dms.dao.IDormmanagerDao">
	<resultMap type="cn.dms.pojo.TDormmanager" id="td">
		<id property="dormmanid" column="DORMMANID"/>
		<result property="username" column="USERNAME"/>
		<result property="password" column="PASSWORD"/>
		<result property="name" column="NAME"/>
		<result property="sex" column="SEX"/>
		<result property="tel" column="TEL"/>
		<association property="TDormbuild" javaType="cn.dms.pojo.TDormbuild">
			<id property="dormbuildid" column="DORMBUILDID"/>
			<result property="dormbuildname" column="DORMBUILDNAME"/>
			<result property="dormbuilddetail" column="DORMBUILDDETAIL"/>
		</association>
	</resultMap>
	<!-- 宿管登录方法 -->
	<select id="loginDormmanager" parameterType="cn.dms.pojo.TDormmanager" resultType="cn.dms.pojo.TDormmanager">
		select * from T_Dormmanager where username = #{username} and password = #{password}
	</select>
	<!-- 获取总条数 -->
	<select id="getDormmanagerCount" resultType="int">
		select count(dormmanid) from T_Dormmanager
	</select>
	<!-- 分页 -->
	<select id="getDormmanagerByPage" parameterType="java.util.Map" resultMap="td">
		<![CDATA[
			select * from (
				select * from 
					(select t.*,rownum r from T_Dormmanager t) where r<=#{size} and r>=#{no}) o 
			left join T_DORMBUILD d
			on o.dormbuildid = d.dormbuildid
           ]]>  
	</select>
	<!-- 姓名模糊查询并分页 -->
	<select id="getDormmanagerByNamePage"  parameterType="java.util.Map" resultMap="td">
		
		<![CDATA[
			select * from (
				select * from 
					(select t.*,rownum r from T_Dormmanager t where name like #{name}) where r<=#{size} and r>=#{no}) o 
			left join T_DORMBUILD d
			on o.dormbuildid = d.dormbuildid
			]]>  
	</select>
	<!-- 用户名模糊查询并分页 -->
	<select id="getDormmanagerByUserNamePage"  parameterType="java.util.Map" resultMap="td">
		<![CDATA[
			select * from (
				select * from 
					(select t.*,rownum r from T_Dormmanager t where username like #{name}) where r<=#{size} and r>=#{no}) o 
			left join T_DORMBUILD d
			on o.dormbuildid = d.dormbuildid
		   ]]>  
	</select>
	<!-- 添加宿舍管理员信息 -->
	<insert id="addTDormmanager" parameterType="cn.dms.pojo.TDormmanager" >
		insert into T_Dormmanager(username,Password,Name,Sex,Tel) values(#{username},#{password},#{name},#{sex},#{tel})
	</insert>
	<!-- 根据ID查询舍管理员信息  -->
	<select id="getTDormmanagerById" parameterType="long" resultType="cn.dms.pojo.TDormmanager">
		select * from T_Dormmanager where dormmanid = #{dormmanid}
	</select>
	<!-- 修改宿舍管理员信息 -->
	<update id="updateTDormmanager" parameterType="cn.dms.pojo.TDormmanager">
		update T_Dormmanager set username = #{username},Password = #{password},Name = #{name},Sex = #{sex},Tel = #{tel} where dormmanid = #{dormmanid}
	</update>
	<!-- 删除宿舍管理员信息 -->
	<delete id="deleteTDormmanager" parameterType="long">
		delete from T_Dormmanager where dormmanid = #{dormmanid}
	</delete>
	<!-- 添加宿舍管理员管理的楼栋 -->
	<update id="updateTDormbuild" parameterType="java.util.Map">
		update T_Dormmanager set Dormbuild = #{dormbuildid} where dormmanid = #{dormmanid}
	</update>
</mapper>